body {
  background-image: url(../assets/images/Images/bg.jpg);
  background-size: cover;
  padding-left: 10%;
  padding-right: 10%;
}
header {
  max-width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo {
  width: max-content;
  margin-left: 3%;
}
.logo > img {
  width: 150px;
}
.benchmark {
  text-align: center;
  padding-top: 0px;
}
.benchmark > h1 {
  color: white;
  font-size: 60px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.questionbold {
  font-weight: 700;
}
.btn {
  height: 80px;
  min-width: 400px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.13);
  color: white;
  border: 0;
  border-radius: 50px;
  position: relative;
  padding: 15px 20px;
  font-size: 20px;
}
.btn:hover {
  transition-duration: 800ms;
  height: 80px;
  min-width: 400px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.13);
  color: white;
  border: 0;
  border-radius: 50px;
  position: relative;
  padding: 15px 20px;
  font-size: 20px;
  background-color: #d20094;
}

button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  border: 3px solid transparent;
  background: linear-gradient(170deg, white, rgba(255, 255, 255, 0)) border-box;
  -webkit-mask: linear-gradient(#ffffff 0 0) padding-box,
    linear-gradient(#ffffffe9 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.question-count {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.2em;
  padding-top: 150px;
}
.out-of {
  color: #d20094;
}
.clock-container {
  text-align: right;
}
.timerText {
  font-size: 10px;
  color: white;
}

#time {
  font-size: 40px;
  color: white;
}
