body {
  background-image: url(../assets/images/Images/bg.jpg);
  background-size: cover;
  padding-left: 10%;
  padding-right: 10%;
}
header {
  max-width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo {
  width: max-content;
  margin-left: 3%;
}
.logo > img {
  width: 150px;
}
main .benchmark {
  text-align: center;
  padding-top: 0px;
}
main .benchmark > h1 {
  color: white;
  font-size: 40px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  margin-bottom: 3rem;
}
main .questionbold {
  font-weight: 700;
}
main .btn {
  height: 80px;
  min-width: 400px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.13);
  color: white;
  border: 0;
  border-radius: 50px;
  position: relative;
  padding: 15px 20px;
  font-size: 20px;
}
main .btn:hover {
  transition-duration: 800ms;
  height: 80px;
  min-width: 400px;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.13);
  color: white;
  border: 0;
  border-radius: 50px;
  position: relative;
  padding: 15px 20px;
  font-size: 20px;
  background-color: #d20094;
}

main button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  border: 3px solid transparent;
  background: linear-gradient(170deg, white, rgba(255, 255, 255, 0)) border-box;
  -webkit-mask: linear-gradient(#ffffff 0 0) padding-box,
    linear-gradient(#ffffffe9 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

main .question-count {
  color: white;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  letter-spacing: 0.2em;
  padding-top: 100px;
}
main .out-of {
  color: #d20094;
}
main .clock-container {
  width: max-content;
  margin-inline-start: auto;
  text-align: center;
}
main .timerText {
  font-size: 0.6rem;
  color: white;
  font-family: "Outfit", sans-serif;
  transform: translateY(60px);
}

main .timerText2 {
  font-size: 0.6rem;
  color: white;
  font-family: "Outfit", sans-serif;
  transform: translateY(-125px);
}

main #time {
  font-size: 3rem;
  color: white;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  transform: translateY(-110px);
}

/*---------------------------------------------*/
.hidden {
  display: none;
}

.results {
  color: white;
  font-family: "Outfit", sans-serif;
  text-align: center;
}

.results h1 {
  margin: 0;
  font-size: 4rem;
}
.results h3 {
  margin: 0;
}
.results h4 {
  font-size: 30px;
}

.results .resultsTitleBox {
  font-weight: bold;
}

.allBoxes {
  width: 100%;
  transform: translateY(-370px);
}
.results .box1 {
  display: inline-block;

  text-align: left;
  max-width: 100px;
}
.results .box2 {
  display: inline-block;
  text-align: right;
  max-width: 100px;
}
.results .box3 {
  display: inline-block;
  max-width: 200px;
  padding-left: 20%;
  padding-right: 20%;
}
.results .correctText {
  font-size: 4vw;
  font-weight: 400;
  margin: 0;
}
.results .correctPercent {
  font-size: 3vw;
  margin: 0;
}
.results .wrongText {
  font-size: 4vw;
  font-weight: 400;
  margin: 0;
}
.results .wrongPercent {
  font-size: 3vw;
  margin: 0;
}

.results .boxp1 {
  font-size: 1.2rem;
}
.results .blueText {
  color: #00ffff;
  font-weight: 700;
}

.results .donut {
  width: 500px;
}
.resultsbtn {
  width: 250px;
  height: 60px;
  background-color: transparent;
  border: solid 2px white;
  color: white;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0px 0px 5px 0px #00ffff;
  transform: translateY(-200px);
}
