body {
  background-image: url(../assets/images/Images/bg.jpg);
  background-size: cover;
  padding-left: 10%;
  padding-right: 10%;
}
header {
  max-width: 80%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo {
  width: max-content;
  margin-left: 3%;
}
.logo > img {
  width: 150px;
}

main > div > h1 {
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 50px;
}
.boldtitle {
  font-weight: bold;
}
main > div > h2 {
  color: #d20094;
  font-family: "Outfit", sans-serif;
  margin-top: 10px;
  font-size: 1.8rem;
  margin-bottom: 10px;
}
main > div > p {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

main > div > ul {
  color: white;
  font-family: "Inter", sans-serif;
  padding-top: 40px;
  padding-left: 30px;
}
.boldli {
  font-weight: 700;
}
.promise {
  padding-top: 100px;
}

.label {
  color: white;
  font-family: "Inter", sans-serif;
  padding-right: 20%;
}
#submit {
  background-color: #00ffff;
  color: rgb(11, 17, 59);
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 700;
  border: none;
  width: 250px;
  height: 70px;
  box-shadow: 0px 0px 66px -3px #00ffff;
}
#submit:disabled {
  background-color: gray;
  cursor: not-allowed;
  box-shadow: none;
}
