body {
  background-image: url(./images/Images/bg.jpg);
  background-size: cover;
  color: white;
}

.clock-container {
  width: 100px;
  border: solid aqua;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  object-position: right;
  display: inline-block;
}

.timerText {
  font-size: 10px;
}

#time {
  font-size: 40px;
}

button {
  width: 50%;
  height: 60px;
  opacity: 10%;
  border-radius: 20px;
}

.countdown {
  text-align: center;
}

.chart {
  position: relative;
  display: inline-block;
}

svg {
  transform: rotate(-90deg);
}

.doughnut-background {
  fill: none;
  stroke: #f2f2f2;
  stroke-width: 20;
  stroke-dasharray: 565.48;
  stroke-dashoffset: 0;
}

.doughnut {
  fill: none;
  stroke: #3498db;
  stroke-width: 20;
  stroke-linecap: round;
  stroke-dasharray: 565.48;
  stroke-dashoffset: 0;
}
